.baja-container {
    padding: 20px;
    background-color: #1e1f2f;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin-left: 220px;
}

.baja-container h2 {
    font-size: 50px;
}

.volver-emp {
    background: none;
    color: #ccc;
    font-size: 20px;
}

.baja-form {
    background-color: #44465f;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.baja-form input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #5a5d82;
    color: white;
    font-size: 16px;
}

.baja-form input:disabled {
    background-color: #5a5d82;
    color: #ccc;
}

.baja-btn {
    grid-column: span 3;
    background-color: #1e1f2f;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
    width: 20%;
}

.baja-btn:hover {
    background-color: #1e1f2f;
}
