.dashboard-container {
    padding: 30px;
    background: #1f2235;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 220px;
    min-height: 100vh;
}

.dashboard-container h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto; /* centrar */
    flex-wrap: wrap; /* opcional para responsive */
}

.card {
    background: #2a2d43;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-number {
    font-size: 28px;
    margin: 10px 0;
}

.card-label {
    font-size: 16px;
    line-height: 1.3;
    opacity: 0.8;
}

.bottom-section {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.chart-box {
    flex: 2;
    background: #2a2d43;
    padding: 20px;
    border-radius: 12px;
    width: 30%;
    min-width: 200px;
    max-width: 700px;
}

.row-separado {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    background: #2a2d43;
    flex: 2;
    padding: 20px;
    border-radius: 12px;
    width: 30%;
    min-width: 200px;
    max-width: 700px;
}

.mitad {
    width: 50%;

}

.movimientos-box {
    background: #2a2d43;
    padding: 20px;
    border-radius: 12px;
    color: white;
}

.tabla-movimientos {
    margin-top: 15px;
    background: #2a2d43;
}

.mov-header,
.mov-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columnas iguales */
    padding: 4px 0;
    font-size: 14px;
}

.mov-header {
    font-weight: bold;
    color: #ccc;
    border-bottom: 1px solid #444;
    margin-bottom: 8px;
}

/* Contenedor de cada sección */
.movimientos-section {
    flex: 1;
}

.mov-item:last-child {
    border-bottom: none;
}