.detalle-logins-container {
  padding: 40px 60px;
  background: #1f2235;
  color: white;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

h2 {
  margin: 20px auto 30px auto;
  font-size: 26px;
  text-align: center;
}

.btn-volver {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease;
}

.btn-volver:hover {
  color: #ccc;
}

.tabla-movimientos {
  width: 100%;
  max-width: 1000px;
  background-color: #2a2d43;
  border-radius: 16px;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.mov-header,
.mov-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mov-header {
  font-weight: 600;
  font-size: 17px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.mov-item:last-child {
  border-bottom: none;
}

.mov-item span {
  color: #e0e0e0;
}

.mov-header span {
  color: #ffffff;
}
