.empleados-container {
    padding: 20px;
    background-color: #1e1f2f;
    color: white;
    font-family: "Poppins", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 220px; /* Igual al ancho del sidebar */
}

body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1e1e2f; /* el color de fondo que usás */
}

.acciones-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.acciones-buttons {
    background-color: #1e1f2f;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    display: flex;
    gap: 20px; /* Ajustá según el espacio deseado */
    margin-bottom: 20px;
    width: 1000px;
}

.boton-accion {
    width: 50px;
    height: 45px;
    background-color: #5b5b6b;
    color: white;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    min-width: 180px;
}

.boton-accion:hover {
    background-color: #707088;
}

.filtro-comisionado {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.tabla-empleados {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c2d3f;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-empleados th,
.tabla-empleados td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #3b3c4f;
    font-size: 20px;
}

.tabla-empleados th {
    background-color: #3b3c4f;
    color: white;
    font-weight: bold;
}

.tabla-empleados tr:hover {
    background-color: #3e3f50;
}

.ver-btn {
    background-color: #5a5b6e;
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.foto-empleado {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
}

.editar-icon {
    cursor: pointer;
    font-size: 16px;
    color: #ccc;
    transition: color 0.3s;
}

.editar-icon:hover {
    color: white;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #2f2f45;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    color: white;
}

.modal-content input {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.botones-modal {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.form-columns {
    display: flex;
    gap: 35px;
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.columna label {
    font-size: 14px;
    margin-bottom: 10px;
    font-size: 20px;
}

.columna input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #5b5b6b;
    color: white;
    margin-top: 5px;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2c2f3f;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    width: 180px;
}

.dropdown-menu button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-menu button:hover {
    background: #414558;
}




