.eventos-container {
    padding: 40px;
    color: white;
    min-height: 100vh;
    margin-left: 220px;
}

.eventos-container h2 {
    margin-bottom: 25px;
    font-size: 28px;
}

.acciones-eventos {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    width: 25%;
}

.acciones-eventos button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #3b3b5e;
    color: white;
    border: none;
    cursor: pointer;
}

.acciones button:hover {
    background-color: #7777aa;
}

.tabla-eventos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2f3248;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-eventos th,
.tabla-eventos td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #44475a;
}

.tabla-eventos th {
    background-color: #3a3e57;
}
