/* Contenedor principal */
.justificativos-container {
    padding: 20px;
    background-color: #1e1f2f;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin-left: 220px;
}

.h1 {
    font-size: 50px;
}

.acciones-title {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Barra de acciones */
.acciones-barra-vacas {
    display: flex;
    flex-wrap: wrap;        /* 👈 importante para que no se rompa en pantallas chicas */
    gap: 10px;
    margin-bottom: 30px;
    min-height: 50px;
    align-items: center;
    width: 60%;
}

/* Botones */
.boton-accion-vacas,
.boton-buscar-vacas {
    padding: 10px 30px;
    background: #44465f;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-accion-vacas,
.boton-buscar-vacas:hover {
    background: #707088;
}

/* Inputs fechas */
.input-fecha {
    background-color: #2b2e4a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    min-width: 130px;
    text-align: center;
}

.input-fecha:focus {
    outline: none;
    border: 2px solid #8f9eff;
}

/* Tabla */
.tabla-justificativos {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c2d3f;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-justificativos th {
    background-color: #1f2235;
    color: white;
    padding: 14px;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    white-space: nowrap;
}

.tabla-justificativos td {
    background-color: #2b2e4a;
    padding: 14px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    white-space: nowrap;
}

.tabla-justificativos tbody tr {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}